.NormalTable {
}

.BorderedTable {
    border: 1px solid rgba(200, 200, 200, 0.2);
}

.Row {
}

.LabelCol {
    color: rgba(175, 175, 175, 1);
    padding: 4px;
    verticalAlign: top;
}

.ValueCol {
    padding: 4px
}